<div >
  <h1 *ngIf="originEventList.length===0" class="text-center">
    Add you first event !
  </h1>
  <div class="flex flex-row-reverse items-start space-y-3 -sm:block">
    <button
      class="ml-auto -sm:mr-auto"
      [ngClass]="{'mx-auto':originEventList.length===0}"
      mat-raised-button
      color="primary"
      (click)="addEvent()"
    >
      Add Event
    </button>
    <div *ngIf="originEventList.length!==0">
      <section [formGroup]="filterForm">
        <h4>Filter your to-do-list :</h4>
        <p>
          <mat-checkbox formControlName="completed">Done</mat-checkbox>
          <mat-checkbox formControlName="notCompleted">To do</mat-checkbox>
          <mat-checkbox formControlName="sortByDateDescending"
          >Date descending order</mat-checkbox
          >
        </p>
        <h4>Search title :</h4>

        <mat-form-field appearance="fill" >
          <mat-label>Type keyword</mat-label>
          <input matInput type="text" formControlName="keyword" >
        </mat-form-field>
      </section>


    </div>
  </div>
</div>
<app-event-list [eventList]="filteredEventList"></app-event-list>
