<button mat-raised-button color="primary" (click)="addEvent()">
  Add Event
</button>
<!-- filter bar -->
<div>
  <h4>Filter your to-do-list:</h4>
  <section [formGroup]="filterForm">
    <p>
      <mat-checkbox formControlName="completed">Done</mat-checkbox>
      <mat-checkbox formControlName="notCompleted">To do</mat-checkbox>
      <mat-checkbox formControlName="sortByDateDescending">Date descending order</mat-checkbox>
    </p>
  </section>

  <section [formGroup]="filterForm">
    <h4>You chose:</h4>
    {{filterForm.value | json}}
  </section>

</div>
<app-event-list [eventList]="filteredEventList"></app-event-list>
