<li class="item">
  <div class="img-container">
    <img
      [ngSrc]="eventData.image || './assets/images/image-solid.svg'"
      [alt]="eventData.title"
      width="400"
      height="300"
    />
  </div>
  <div class="content">
    <div class="title">
      <h2 class="flex items-center">
        {{ eventData.title }}
        <mat-icon
          [ngClass]="{ '!text-green-600': eventData.isCompleted }"
          fontIcon="check_circle"
          (click)="toggleEventComplete()"
        ></mat-icon>
      </h2>
      <div *ngIf="!eventData.isCompleted" class="space-x-2">
        <ng-container *ngIf="!isEdit; else save">
          <mat-icon fontIcon="edit" (click)="toggleEdit()"></mat-icon>
          <mat-icon
            fontIcon="delete"
            (click)="openDeleteDialog(eventData.id)"
          ></mat-icon>
        </ng-container>
        <ng-template #save>
          <mat-icon fontIcon="save" (click)="toggleEdit()"></mat-icon>
        </ng-template>
      </div>
    </div>
    <div class="summary">
      <div class="date">
        <mat-icon fontIcon="calendar_today"></mat-icon>
        <time>{{ eventData.date | date : "yyyy-MM-dd" }}</time>
      </div>
      <div class="address" *ngIf="eventData.location">
        <mat-icon fontIcon="location_on"></mat-icon>
        <address>{{ eventData.location }}</address>
      </div>
      <div>
        <ng-container *ngIf="!isEdit; else editDesc">
          <span>{{ eventData.description }}</span>
        </ng-container>
        <ng-template #editDesc>
          <textarea
            #editDescInput
            class="w-full p-2"
            [(ngModel)]="curEvent.description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </ng-template>
      </div>
    </div>
  </div>
</li>
